#snapshot-select-container
  .select
    = collection_select(:post, :property_id, @properties, :id, :address, {:include_blank => "All Properties"}, { class: "select-text", id: 'snapshot-select' })
    %span.select-highlight
    %span.select-bar
    %label.select-label Property

.mdl-grid.property_snapshot#all_properties
  .mdl-card.mdl-cell.mdl-cell--4-col.mdl-shadow--4dp.chart-card
    %p.mdl-color-text--grey Revenue (to-date):
    %h3.mdl-color-text--indigo
      = currency(@sum_of_invoices)

  .mdl-card.mdl-cell.mdl-cell--4-col.mdl-shadow--4dp.chart-card
    %p.mdl-color-text--grey Expenses (to-date):
    %h3.mdl-color-text--pink
      = currency(@sum_of_expenses)

  .mdl-card.mdl-cell.mdl-cell--4-col.mdl-shadow--4dp.chart-card
    %p.mdl-color-text--grey Net Income (to-date):
    %h3
      = currency(@net_income)

- current_user.properties.each do |property|
  .mdl-grid.property_snapshot{:id => "#{property.id}"}
    .mdl-card.mdl-cell.mdl-cell--4-col.mdl-shadow--4dp.chart-card
      %p.mdl-color-text--grey Revenue (to-date):
      %h3.mdl-color-text--indigo
        = currency(property.invoices.sum(:amount))

    .mdl-card.mdl-cell.mdl-cell--4-col.mdl-shadow--4dp.chart-card
      %p.mdl-color-text--grey Expenses (to-date):
      %h3.mdl-color-text--pink
        = currency(property.expenses.sum(:amount))

    .mdl-card.mdl-cell.mdl-cell--4-col.mdl-shadow--4dp.chart-card
      %p.mdl-color-text--grey Net Income (to-date):
      %h3
        = currency(property.invoices.sum(:amount) - property.expenses.sum(:amount))

.mdl-grid
  .mdl-card.mdl-cell.mdl-cell--12-col.mdl-shadow--4dp.chart-card
    %p.mdl-color-text--grey Cashflow
    .chart
      = line_chart [                                                                          |
          {name: "Expenses", data: current_user.expenses.group_by_month(:date).sum(:amount)}, |
          {name: "Revenue", data: current_user.invoices.group_by_month(:date).sum(:amount)},  |
          {name: "Net Income", data: @monthly_net_income}                                     |
        ], prefix: '$', thousands: ","                                                        |

      /= area_chart current_user.expenses.group_by_week(:date).sum(:amount), prefix: "$", thousands: ","

.mdl-grid
  .mdl-card.mdl-cell.mdl-cell--6-col.mdl-shadow--4dp.chart-card
    %p.mdl-color-text--grey Expenses by Property
    .chart
      = pie_chart @expenses.joins(:property).group("properties.address").sum(:amount), prefix: '$', thousands: ","


  .mdl-card.mdl-cell.mdl-cell--6-col.mdl-shadow--4dp.chart-card
    %p.mdl-color-text--grey Revenue by Property
    .chart
      = pie_chart @invoices.joins(:property).group("properties.address").sum(:amount), prefix: '$', thousands: ","

.mdl-grid
  .mdl-card.mdl-cell.mdl-cell--12-col.mdl-shadow--4dp.chart-card
    %p.mdl-color-text--grey Cashflow
    .chart
      = line_chart [                                                                          |
          {name: "Interest Payments", data: @interest_payments},                              |
          {name: "Principal Payments", data: @principal_payments},                            |
          {name: "Total Payments", data: @total_payments},                                    |
        ], prefix: '$', thousands: ",", points: false                                                       |
