.cards-container
  =render 'table_options'

  - if @invoices.exists?
    = form_tag pay_invoices_path, :method => :put do
      = submit_tag "Mark as paid", :class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", :id=>"mark_paid_button"
      %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.full-width
        %thead
          %tr
            %th
            %th.mdl-data-table__cell--non-numeric Description
            %th Amount
            %th Date
            %th Status
            %th Unit
            %th Property
            %th
        %tbody
          - @invoices.each do |invoice|
            %tr
              %td
                %label.field.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
                  = check_box_tag "invoice_ids[]", invoice.id, false, :class=>"mdl-checkbox__input"
                  %span.mdl-checkbox__label
              %td.mdl-data-table__cell--non-numeric= invoice.description
              %td
                = currency(invoice.amount)
              %td
                = invoice.date
              %td= invoice.status
              %td
                = invoice.unit.try(:name)
              %td
                = invoice.try(:property).try(:address)
              %td
                = link_to '<i class="material-icons">edit</i>'.html_safe, edit_invoice_path(invoice), :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs"
                = link_to '<i class="material-icons">delete</i>'.html_safe, invoice, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs"
        %tfoot
          %tr
            %td
            %td.mdl-data-table__cell--non-numeric.bold TOTAL
            %td.bold
              = currency(@sum_of_invoices)
    .digg_pagination
      = will_paginate @expenses
  - else
    = render "shared_partials/placeholder"
