
<div class="cards-container">
  <% if @invoices.exists? %>
    <%= form_tag pay_invoices_path, :method => :put do %>
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
        <thead>
          <tr>
            <th></th>
            <th class="mdl-data-table__cell--non-numeric">Description</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Status</th>
            <th>Unit</th>
            <th>Property</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td> <%= check_box_tag "invoice_ids[]", invoice.id %> </td>
              <td class="mdl-data-table__cell--non-numeric"><%= invoice.description %></td>
              <td> $<%= invoice.amount %> </td>
              <td> <%= invoice.date %> </td>
              <td><%= invoice.status %></td>
              <td> <%= invoice.unit.try(:name) %> </td>
              <td> <%= invoice.unit.try(:property).try(:address) %> </td>
              <td>
                <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_invoice_path(invoice), :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs" %>
                <%= link_to '<i class="material-icons">delete</i>'.html_safe, invoice, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs" %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td>
               <%= submit_tag "Mark as paid" %>
            </td>
          </tr>
        </tfoot>
      </table>
    <% end %>
  <% else %>
    <%= render "shared_partials/placeholder" %>
  <% end %>
</div>
