= form_for(@property) do |f|
  - if @property.errors.any?
    #error_explanation
      %h2
        = pluralize(@property.errors.count, "error")
        prohibited this property from being saved:
      %ul
        - @property.errors.full_messages.each do |message|
          %li= message
  .field.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label :address, :class=>"mdl-textfield__label"
    = f.text_field :address, :class=>"mdl-textfield__input", required:true, autofocus: true
  .field.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label :price, :class=>"mdl-textfield__label"
    = f.number_field :price, :class=>"mdl-textfield__input"

  .field.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label "Mortgage interest", :class=>"mdl-textfield__label"
    = f.number_field :mortgage_interest, :class=>"mdl-textfield__input", step: :any

  .field.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label :mortgage_term, :class=>"mdl-textfield__label"
    = f.number_field :mortgage_term, :class=>"mdl-textfield__input"

  .field.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label :mortgage_principal, :class=>"mdl-textfield__label"
    = f.number_field :mortgage_principal, :class=>"mdl-textfield__input"

  .field.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.label "Mortgage Start Date (mm/dd/yyyy)", :class=>"mdl-textfield__label"
    = f.text_field :mortgage_start_date, :class=>"mdl-textfield__input"

  %label.field.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
    = f.check_box :recurring_mortgage, :class=>"mdl-checkbox__input"
    %span.mdl-checkbox__label
      %p Create recurring mortgage payments

  .actions
    = f.submit :class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
