<p id="notice"><%= notice %></p>

<div class="resource-header mdl-grid section--center mdl-shadow--2dp mdl-color--white">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4><%= @unit.name %></h4>
      <p>
        <strong>Property:</strong>
        <%= @unit.property.address %>
      </p>
      <p>
        <strong>Rent:</strong>
        <%= @unit.rent %>
      </p>
    </div>
    <div class="mdl-card__actions">
      <%= link_to 'Edit', edit_unit_path(@unit), :class=>"mdl-button mdl-js-button mdl-js-ripple-effect" %>
      <%= link_to 'Back', units_path, :class=>"mdl-button mdl-js-button mdl-js-ripple-effect" %>
    </div>
  </div>
</div>

<div class="cards-container">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Expense</th>
        <th>Amount</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @unit.expenses.each do |expense| %>
          <td class="mdl-data-table__cell--non-numeric"><%= expense.description %></td>
          <td> <%= expense.amount %> </td>
          <td> <%= expense.date %> </td>
          <td>
            <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_expense_path(expense), :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs" %>
            <%= link_to '<i class="material-icons">delete</i>'.html_safe, expense, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs" %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
