
<div class="cards-container">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Description</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Unit</th>
        <th>Property</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @recurring_events.each do |recurring_event| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= recurring_event.description %></td>
          <td><%= recurring_event.amount %></td>
          <td><%= recurring_event.category %></td>
          <td> <%= recurring_event.unit.try(:name) %> </td>
          <td> <%= recurring_event.unit.try(:property).try(:address) %> </td>
          <td>
            <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_recurring_event_path(recurring_event), :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs" %>
            <%= link_to '<i class="material-icons">delete</i>'.html_safe, recurring_event, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
