.resource-header.mdl-grid.section--center.mdl-shadow--2dp.mdl-color--white
  .mdl-card.mdl-cell.mdl-cell--12-col
    .mdl-card__supporting-text
      %h4
        = @recurring_event.description
      %p
        %strong Amount:
        = currency(@recurring_event.amount)
      %p
        %strong Category:
        = @recurring_event.category
      .mdl-card__actions
        = link_to 'Edit', edit_recurring_event_path(@recurring_event), :class=>"mdl-button mdl-js-button mdl-js-ripple-effect"
        = link_to 'Back', recurring_events_path, :class=>"mdl-button mdl-js-button mdl-js-ripple-effect"
