.cards-container
  - if @expenses.exists?
    %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.full-width
      %thead
        %tr
          %th.mdl-data-table__cell--non-numeric Expense
          %th Amount
          %th Date
          %th Unit
          %th Property
          %th
      %tbody
        - @expenses.each do |expense|
          %tr
            %td.mdl-data-table__cell--non-numeric= expense.description
            %td
              = currency(expense.amount)
            %td
              = expense.date
            %td
              = expense.unit.try(:name)
            %td
              = expense.property.try(:address)
            %td
              = link_to '<i class="material-icons">edit</i>'.html_safe, edit_expense_path(expense), :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs"
              = link_to '<i class="material-icons">delete</i>'.html_safe, expense, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs"
      %tfoot
        %tr
          %td.mdl-data-table__cell--non-numeric.bold TOTAL
          %td.bold
            = currency(@sum_of_expenses)
          %td
          %td
          %td
          %td
  - else
    = render "shared_partials/placeholder"
