
<div class="cards-container">
  <% if @expenses.exists? %>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Expense</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Unit</th>
          <th>Property</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= expense.description %></td>
            <td> <%= currency(expense.amount) %> </td>
            <td> <%= expense.date %> </td>
            <td> <%= expense.unit.try(:name) %> </td>
            <td> <%= expense.unit.try(:property).try(:address).presence || expense.property.try(:address) %> </td>
            <td>
              <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_expense_path(expense), :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs" %>
              <%= link_to '<i class="material-icons">delete</i>'.html_safe, expense, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab xs" %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  <% else %>
    <%= render "shared_partials/placeholder" %>
  <% end %>
</div>
